.hourlyForecastContainer {
  background-color: hsl(243, 23%, 24%);
  margin-top: 2.5rem;
  min-width: 20rem;
  border-radius: 15px;
}

.hourlyForecastWrapper {
  padding: 1.7rem;
  min-width: 0;
}

.hourlyForecastTitle {
  color: white;
  font-size: calc(18rem / 16);
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownWrapper {
  position: relative;
}

.dropdownContainer {
  position: absolute;
  color: hsl(250, 6%, 84%);
  background-color: hsl(243, 27%, 20%);
  width: calc(140rem / 16);
  margin-top: calc(10rem / 16);
  border-radius: 10px;
  padding: calc(5rem / 16);
  display: flex;
  right: 1px;
  flex-direction: column;
  gap: calc(10rem / 16);
  z-index: 3;
}

.dropdownButton {
  display: flex;
  gap: calc(5rem / 16);
  align-items: flex-end;
  justify-content: flex-end;
  background-color: hsl(243, 23%, 30%);
  color: white;
  padding: calc(15rem / 16) calc(20rem / 16);
  border-radius: 10px;
  border: none;
  outline: none;
}

.loadingIconContainer {
  display: flex;
  gap: 0.4rem;
}

.loadingHr {
  width: 0.5rem;
}

.dropdownButton:hover {
  cursor: pointer;
}

.dropdownIcon {
  padding-left: 0.5rem;
}

.dropdownOption {
  padding: calc(15rem / 16) 0 calc(15rem / 16) calc(15rem / 16);
  display: flex;
  align-items: center;
}

.dropdownOption:hover {
  cursor: pointer;
  background-color: hsl(243, 23%, 30%);
  border-radius: 10px;
}

.hourlySection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.forecastContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  color: white;
  background-color: hsl(244, 20%, 29%);
  padding: 0.5rem 1rem;
  align-items: center;
}

.weatherAndTimeContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time {
  text-transform: uppercase;
}

.weatherIcon {
  width: 3rem;
}

@media (min-width: 80rem) {
  .hourlyForecastContainer {
    margin-top: 0rem;
  }

  .forecastContainer {
    padding: 0.3rem 1rem;
  }

  .hourlyForecastWrapper {
    padding: 0.8rem;
  }
}
