.searchCityContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: center;
  position: relative;
}

.searchCityInput {
  background-color: hsl(243, 23%, 24%);
  background-image: url("../assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  outline: 0;
  border: none;
  padding: 0.8rem 2rem 0.8rem 2.4rem;
  color: hsl(250, 6%, 84%);
  font-size: calc(15rem / 16);
  border-radius: 10px;
}

.searchCityInput::placeholder {
  color: hsl(250, 6%, 84%);
  font-size: calc(15rem / 16);
}

.searchCityButton {
  border: none;
  border-radius: 10px;
  outline: none;
  height: 100%;
  padding: 0.7rem 1rem;
  font-size: calc(17rem / 16);
  margin-left: 0.5rem;
  color: white;
  background-color: hsl(233, 67%, 56%);
  font-weight: 500;
  font-family: "DMSans", sans-serif;
}

.searchCityButton:hover {
  cursor: pointer;
}

.dropdownWrapper {
  position: relative;
  /* display: flex; */
}

.dropdownContainer {
  position: absolute;
  color: hsl(250, 6%, 84%);
  background-color: hsl(243, 27%, 20%);
  width: calc(200rem / 16);
  margin-top: calc(10rem / 16);
  border-radius: 10px;
  padding: calc(10rem / 16);
  display: flex;
  flex-direction: column;
  gap: calc(10rem / 16);
  z-index: 1;
}

.noResultsFound {
  color: white;
  margin-top: 3rem;
  text-align: center;
  font-size: calc(20rem / 16);
}

.searchResultCity {
  padding: calc(10rem / 16) 0 calc(10rem / 16) calc(8rem / 16);
}

.searchResultCity:hover {
  cursor: pointer;
  background-color: hsl(243, 23%, 30%);
  border-radius: 10px;
}
