.weatherDashboardContainer {
  background-color: hsl(243, 96%, 9%);
  min-height: 100vh;
  padding: calc(30rem / 16);
  font-family: "DMSans", sans-serif;
}

.mainHeading {
  color: white;
  font-size: calc(50rem / 16);
  text-align: center;
  margin: 1rem 3rem;
  font-family: "BricolageGrotesque", sans-serif;
}
