.weatherDashboardContainer {
  background-color: hsl(243, 96%, 9%);
  height: 100%;
  min-height: 100vh;
  padding: calc(30rem / 16);
  font-family: "DMSans", sans-serif;
}

.mainHeading {
  color: white;
  font-size: calc(50rem / 16);
  text-align: center;
  margin: 1rem 3rem;
  font-family: "BricolageGrotesque", sans-serif;
}

@media (min-width: 80rem) {
  .weatherWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.6fr 1fr;
    grid-template-areas:
      "current hourly"
      "daily hourly";
    gap: 0 2rem;
    align-items: start;
    margin-top: 2.5rem;
  }

  .current {
    grid-area: current;
  }

  .daily {
    grid-area: daily;
  }

  .hourly {
    grid-area: hourly;
  }
}
