.dailyForecastWrapper {
  margin-top: 2rem;
}

.dailyForecastTitle {
  color: white;
  font-size: calc(18rem / 16);
  margin-bottom: 1rem;
}

.forecastContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.forecastDay {
  background-color: hsl(243, 23%, 24%);
  color: hsl(250, 6%, 84%);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  min-height: 4rem;
  flex-direction: column;
  align-items: center;
}

.forecastIcon {
  width: 3rem;
  margin: 1rem 0;
}

.forecastTemperatures {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-evenly;
}

@media (min-width: 80rem) {
  .forecastContainer {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
  }

  .dailyForecastWrapper {
    margin-top: 4rem;
  }
}
