.searchCityContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: center;
  position: relative;
}

.searchCityInput {
  background-color: hsl(243, 23%, 24%);
  background-image: url("../assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  outline: 0;
  border: none;
  width: 90%;
  padding: 0.8rem 2rem 0.8rem 2.4rem;
  color: hsl(250, 6%, 84%);
  font-size: calc(15rem / 16);
  border-radius: 10px;
}

.loadingIcon {
  margin-right: 0.5rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.searchCityInput::placeholder {
  color: hsl(250, 6%, 84%);
  font-size: calc(15rem / 16);
}

.searchCityButton {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: calc(17rem / 16);
  color: white;
  background-color: hsl(233, 67%, 56%);
  font-weight: 500;
  font-family: "DMSans", sans-serif;
}

.searchCityButton:hover {
  cursor: pointer;
}

.dropdownWrapper {
  margin: 0 1rem;
  position: relative;
  width: 100%;
}

.dropdownContainer {
  position: absolute;
  color: hsl(250, 6%, 84%);
  background-color: hsl(243, 27%, 20%);
  width: 100%;
  margin-top: calc(10rem / 16);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: calc(10rem / 16);
  z-index: 1;
}

.noResultsFound {
  color: white;
  margin-top: 3rem;
  text-align: center;
  font-size: calc(20rem / 16);
}

.searchResultCity {
  padding: calc(15rem / 16) 0 calc(15rem / 16) calc(15rem / 16);
  display: flex;
  align-items: center;
}

.searchResultCity:hover {
  cursor: pointer;
  background-color: hsl(243, 23%, 30%);
  border-radius: 10px;
}

@media (min-width: 60rem) {
  .searchCityInput {
    min-width: 25rem;
  }

  .formWrapper {
    flex-direction: row;
  }

  .searchCityButton {
    min-width: 8rem;
  }

  .dropdownContainer {
    max-width: 29rem;
  }

  .dropdownWrapper {
    width: unset;
  }
}
